.test > div:first-child div {
  box-shadow: #0bafe6 0px 0px 2px 2px;
}
.test > div:first-child {
  z-index: 1000;
}
.test > div:nth-child(2) {
  animation: back2 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  z-index: 999;
  color: rgb(123, 123, 123);
}
.test:hover > div:nth-child(2) {
  animation: mymove2 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.test > div:nth-child(3) {
  animation: back3 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  z-index: 998;
}
.test:hover > div:nth-child(3) {
  animation: mymove3 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.test > div:nth-child(4) {
  animation: back4 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  z-index: 997;
}
.test:hover > div:nth-child(4) {
  animation: mymove4 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.overlay:hover {
  transition: all 0.2s linear;
  background-color: black;
  opacity: 0.3;
}

@keyframes mymove2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes back2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes mymove3 {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes back3 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
@keyframes mymove4 {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes back4 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300%);
  }
}
