.App {
  text-align: center;
}

/* .showdeleteicon:hover button:nth-child(3) {
  display: flex;
}
.showdeleteicon1:hover button:last-child {
  display: flex;
} */

.list-img {
  transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) !important;
}
